.cover {
  position: relative;
  width: 100%;
  height: 100vh;
}

.cover__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.cover__title {
  position: absolute;
  bottom: 25%;
  text-align: center;
  color: white;
  font-size: 5rem;
  padding: 15px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.donate-btn {
  position: absolute;
  bottom: 20%;
  text-align: center;
  width: 300px;
  background-color: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  padding: 1rem 1.2rem;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  border: 0;
}

.donate-btn:hover {
  box-shadow: #8a8a8a 0 0 5px 3px, transparent 0 0 0 0;
  background-color: #ffffffc7;
}

.navbar__logo {
  position: absolute;
  top: -12vh;
  color: rgb(220, 237, 63);
  font-size: 6rem;
  padding: 15px;
}

@media (max-width: 991px) {
  .navbar__logo {
    font-size: 6rem;
  }
  .cover__title {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .navbar__logo {
    top: -6vh;
    font-size: 4rem;
    padding: 8px;
  }
  .cover__title {
    font-size: 3rem;
    padding: 8px;
  }
}
